<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myboard">

	<resultMap type="boardDto" id="boardMap">
		<result property="myno" column="MYNO"/>
		<result property="myname" column="MYNAME"/>
		<result property="mytitle" column="MYTITLE"/>
		<result property="mycontent" column="MYCONTENT"/>
		<result property="mydate" column="MYDATE"/>
	</resultMap>
	
	
	<select id="selectList" resultMap="boardMap">
		select * from myboard order by myno desc
	</select>  
	
	<select id="selectOne" parameterType="int" resultType="boardDto">
		select * from myboard where myno = #{myno}
	</select>
	
	<insert id="insert" parameterType="boardDto">
		insert into myboard 
		values (mynoseq.nextval, #{myname}, #{mytitle}, #{mycontent}, SYSDATE, 0)
	</insert>
	
	<update id="update" parameterType="boardDto">
		update myboard set mytitle = #{mytitle}, mycontent = #{mycontent} where myno = #{myno}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from myboard where myno = #{myno}
	</delete>
	
	<update id="viewCount" parameterType="int">
		update myboard set mynov = (select mynov from myboard where myno = #{myno})+1 where myno = #{myno}
	</update>
</mapper>
