<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="lee" class="com.test04.Emp">
		<property name="name" value="이순신"></property>
		<property name="salary" value="1000"></property>
	</bean>
	
	<bean id="hong" class="com.test04.Emp">
		<property name="name" value="홍길동"></property>
		<property name="salary" value="100000"></property>
	</bean>
	
	
	<bean id="leess" class="com.test04.Developer">
		<constructor-arg ref="lee"></constructor-arg>
		<constructor-arg value="어디선가!"></constructor-arg>
	</bean>
	
	<bean id="honggd" class="com.test04.Developer">
		<constructor-arg ref="hong"></constructor-arg>
		<constructor-arg value="누군가에!"></constructor-arg>
	</bean>

</beans>
